<mat-toolbar color="warn"><span style="margin: 0 auto;">Models List</span></mat-toolbar>

<div class="mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Search in Models">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!--- These columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="manufacturer_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.manufacturer_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="model_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.model_name}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="model_count">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Count</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.model_count}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">

        <button mat-icon-button color="primary" (click)="startEdit(i, row.id, row.manufacturer_id, row.model_name, row.color, row.manufacturing_year, row.registration_number, row.note, row.first_image, row.second_image, row.model_count, row.created_at)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-mini-fab color="accent" (click)="deleteItem(i, row.id, row.manufacturer_id, row.model_name, row.color, row.manufacturing_year, row.registration_number, row.note, row.first_image, row.second_image, row.model_count, row.created_at)">
          Sell
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>